doctype html
html(lang="ja")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    title
  body
    h1 INDEX
    a(href="/controller")
      h2 Controller

    a(href="/reciver")
      h2 Reciver



    h1 SOUND
    h2 mp3
    a(href="/dtmf.mp3") dtmf
    br
    a(href="/r2d2_r00.mp3") r2d2_r00
    br
    a(href="/r2d2_r01.mp3") r2d2_r01
    br
    a(href="/r2d2_r02.mp3") r2d2_r02
    br
    a(href="/r2d2_r03.mp3") r2d2_r03
    br
    a(href="/r2d2_r04.mp3") r2d2_r04
    br
    a(href="/r2d2_r05.mp3") r2d2_r05
    br
    a(href="/r2d2_r06.mp3") r2d2_r06
    br
    a(href="/r2d2_r07.mp3") r2d2_r07
    br
    a(href="/r2d2_r08.mp3") r2d2_r08
    br
    a(href="/r2d2_r09.mp3") r2d2_r09
    br
    a(href="/r2d2_r10.mp3") r2d2_r10
    br
    a(href="/r2d2_r11.mp3") r2d2_r11
    br
    a(href="/r2d2_r12.mp3") r2d2_r12
    br
    a(href="/r2d2_r13.mp3") r2d2_r13
    br
    a(href="/r2d2_r14.mp3") r2d2_r14
    br
    a(href="/r2d2_r15.mp3") r2d2_r15
    br
    a(href="/r2d2_r16.mp3") r2d2_r16
    br
    a(href="/r2d2_r17.mp3") r2d2_r17
    br
    a(href="/r2d2_r18.mp3") r2d2_r18
    br
    a(href="/r2d2_r19.mp3") r2d2_r19
    br

    h2 ogg
    a(href="/dtmf.ogg") dtmf
    br
    a(href="/r2d2_r00.ogg") r2d2_r00
    br
    a(href="/r2d2_r01.ogg") r2d2_r01
    br
    a(href="/r2d2_r02.ogg") r2d2_r02
    br
    a(href="/r2d2_r03.ogg") r2d2_r03
    br
    a(href="/r2d2_r04.ogg") r2d2_r04
    br
    a(href="/r2d2_r05.ogg") r2d2_r05
    br
    a(href="/r2d2_r06.ogg") r2d2_r06
    br
    a(href="/r2d2_r07.ogg") r2d2_r07
    br
    a(href="/r2d2_r08.ogg") r2d2_r08
    br
    a(href="/r2d2_r09.ogg") r2d2_r09
    br
    a(href="/r2d2_r10.ogg") r2d2_r10
    br
    a(href="/r2d2_r11.ogg") r2d2_r11
    br
    a(href="/r2d2_r12.ogg") r2d2_r12
    br
    a(href="/r2d2_r13.ogg") r2d2_r13
    br
    a(href="/r2d2_r14.ogg") r2d2_r14
    br
    a(href="/r2d2_r15.ogg") r2d2_r15
    br
    a(href="/r2d2_r16.ogg") r2d2_r16
    br
    a(href="/r2d2_r17.ogg") r2d2_r17
    br
    a(href="/r2d2_r18.ogg") r2d2_r18
    br
    a(href="/r2d2_r19.ogg") r2d2_r19
    br
