doctype html
html(lang="ja")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    title
  body
    h1 INDEX
    a(href="/controller")
      h2 Controller

    a(href="/reciver")
      h2 Reciver



    h1 SOUND
    a(href="/dtmf.mp3") mp3
    br
    a(href="/dtmf.ogg") ogg
