doctype html
html(lang="ja")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    title
  body
    h1 reciver
    script(src="/socket.io/socket.io.js")
    script
      include ./scripts/main.js
