doctype html
html(lang="ja")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    title
    link(rel="stylesheet", href="https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css")
  body
    .hero
      .hero-content
        .container
          h1.title Controller
          h2.sub-title コントローラー

    .controller
      div(style="text-align:center")
        button.button.is-large(onClick="buttonClick(this)") 音声解析待ち
        br
        br
        button.button.is-large(onClick="sendCommand('FRONT_SLOW')") ゆっくり 前進
        br
        button.button.is-large(onClick="sendCommand('LEFT_SMALL_MORE')") ﾁｮｯﾄ 左
        button.button.is-large(onClick="sendCommand('FRONT')") 前進
        button.button.is-large(onClick="sendCommand('RIGHT_SMALL_MORE')") ﾁｮｯﾄ 右
        br
        button.button.is-large(onClick="sendCommand('LEFT_SMALL')") 少し 左
        button.button.is-large(onClick="sendCommand('STOP')") 停止
        button.button.is-large(onClick="sendCommand('RIGHT_SMALL')") 少し 右
        br
        button.button.is-large(onClick="sendCommand('LEFT')") 左
        button.button.is-large(onClick="sendCommand('BACK')") 後進
        button.button.is-large(onClick="sendCommand('RIGHT')") 右
        br
        button.button.is-large(onClick="sendCommand('BACK_SLOW')") ゆっくり 後進
    script(src="/socket.io/socket.io.js")
    script
      include ./scripts/main.js
